#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 5px;
}

#root {
  width: 90%;
}

.App {
  height: 250px;
  display: grid;
  grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}

#displayContainer {
  grid-area: 1/1/2/5;
  background-color: black;
  color: white;
  border: 2px blue solid;
  font-family: monospace;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

#encours {
  height: 16px;
  font-size: 13px;
}

#display {
  font-size: 22px;
  font-weight: bold;
}

#equals {
  grid-area: 6/1/7/4;
}

#clear {
  grid-area: 5/4/7/5;
}

button {
  background-color: rgb(207, 245, 245);
  cursor: pointer;
  border: 1px blue solid;
}

.actionButton {
  background-color: orange;
  font-weight: bold;
}

@media (max-width:576px) {
  h1 {
    font-size: 1.5em;
  }

  #container {
    width: 90vw;
    max-width: 400px;
    margin: 5vh 5vw 5vh 5vw;
  }
}